* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 92, 128, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}
h1 {
  padding: 25px;
}
#frame {
  background-color: turquoise;
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;

  align-items: flex-end;
}
.pics {
  position: absolute;
}
#wrapper {
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
#left {
  opacity: 50%;
  align-self: center;
}
#right {
  opacity: 50%;

  align-self: center;
}
#arrowleft {
}
#arrowright {
}
img > #one > #two {
}
#one {
  visibility: visible;
  width: 1000px;
  height: 600px;
}
#two,
#three {
  visibility: hidden;
  width: 1000px;
  height: 600px;
}
.btnwrapper {
  display: flex;
  margin-top: auto;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  font-size: 25px;
}
.slidebtn {
  cursor: pointer;
}
.test {
}
