* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 92, 128, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}
h1 {
  display: flex;
  padding: 25px;
}
#frame {
  background-color: turquoise;
  width: 55%;
  height: auto;
  display: flex;
  justify-content: center;
}
.pics {
  position: absolute;

  transition: opacity 1s ease-in-out;
}

#arrows {
  display: flex;
  opacity: 50%;
  width: 55%;
  height: 55%;
  justify-content: space-around;
  margin-top: 15%;
  gap: 55%;
  cursor: pointer;
}
#slidebtn:active .pics {
  transition: opacity 3s ease-in-out;
}
#one {
  opacity: 100%;
  width: 55%;
  height: auto;
}
#two,
#three {
  opacity: 0%;
  width: 55%;
  height: auto;
}
.btnwrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  font-size: 25px;
  margin-top: 20%;
}
.slidebtn {
  cursor: pointer;
}
.responsive {
  width: 100%;
  height: auto;
}
